{{ define "content" }}
<main>
  <h1>Login</h1>

  {{ if .error }}
  <p role="alert">{{ .error }}</p>
  {{ end }}

  <form action="/api/login" method="POST">
    <div>
      <label for="username">Username</label>
      <input
        id="username"
        name="username"
        type="text"
        autocomplete="username"
        required
      />
    </div>

    <div>
      <label for="password">Password</label>
      <input
        id="password"
        name="password"
        type="password"
        autocomplete="current-password"
        required
      />
    </div>
    <button type="submit">Login</button>
  </form>
</main>
{{ end }}
